<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="inline.css">
</head>
<body>
    <!-- block 요소를 옆으로 나열하려면
        1) display : inline-block;
            - 하단, 오른쪽 공백 생김
            - 하단공백은 vertical-align:top; 으로 제거
            - 오른쪽공백은 부모쪽에서 font-size:0; 으로 ->근데 글자를 못쓰게됨 
        2) float : left,right; 
    -->
    <div class="grid">
        <div class="grid-item a"></div>
        <div class="grid-item b"></div>
        <div class="grid-item c"></div>
    </div>
</body>
</html>