<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            height: 4000px;
        }
        img {
            vertical-align: top;
        }
        .box {
            border: 1px solid black;
            position: absolute;
            right: 100px;
            bottom: 100px;
        }
    </style>
  </head>
  <body>
    <!-- 
      position:absolute;
      위치 상 부모 요소를 기준으로 배치
      부모요소 : position 값이 부여된 다른 요소
                position값이 부여된 요소가 없다면 화면이 기준임
    -->

    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, eos!
      Officia ad reiciendis, distinctio quod modi maiores non labore fuga? Earum
      nisi tenetur sunt eum repellat voluptates iure! Deleniti aperiam eius enim
      distinctio autem id odit ea. Aut suscipit unde earum, inventore obcaecati
      optio qui! Animi, facere. Nobis, ea vero ex consectetur aliquam, eaque
      nulla culpa, amet vel nisi rem atque soluta consequuntur neque ut
      accusamus similique! Voluptates, inventore magni alias minus perferendis
      dolores! Culpa, ea! Optio repellendus ex qui itaque, ad error quaerat
      quibusdam, tempore vero delectus hic doloribus debitis blanditiis enim
      dolorem rerum sunt expedita, incidunt sequi? Commodi quasi alias
      accusantium voluptatem possimus, cum, vitae minus modi vero aspernatur
      laboriosam eos quae delectus sed facilis magni. Temporibus quod velit
      quibusdam dolor iste eaque, at vero unde error architecto quis optio
      deserunt corrupti, repellendus consectetur incidunt itaque, illum ipsa!
      Quo aliquid eius cupiditate repudiandae! Ipsa, alias corporis ex nemo
      natus aliquam! Praesentium repellat illum fugiat provident sed possimus,
      dolore dolor voluptas quaerat consectetur, tempore quo. Accusantium fuga
      doloremque, sapiente eaque labore inventore numquam aut amet adipisci
      tempore ipsa culpa! Aliquam consequatur totam nisi nam veniam placeat
      itaque, possimus quod natus ipsa, deserunt ipsam maiores, qui eos. Ea
      asperiores fugit reiciendis ab fuga, exercitationem placeat officiis
      perspiciatis. Ab, corrupti. Pariatur, perspiciatis reiciendis eos sequi
      fugit ipsam expedita, id a voluptate deserunt rerum ducimus temporibus
      ratione dolorum quaerat aut, cum non natus. Obcaecati ipsa quos
      consequatur optio. Nulla amet soluta asperiores id, optio vel dicta
      doloremque! Quaerat voluptatibus omnis esse sint aut corrupti modi tempora
      eveniet at libero veniam totam voluptatum aspernatur aliquam, molestias
      qui laborum ut maxime ab consectetur architecto soluta eum a praesentium!
      Debitis quia rerum consequatur culpa necessitatibus. Facere exercitationem
      nesciunt, est voluptatibus earum blanditiis distinctio quod doloremque
      voluptate obcaecati inventore dolore rem eveniet laudantium saepe sequi
      aspernatur laboriosam ipsam quos qui natus magni veniam quis ut. In
      soluta, veniam ad libero sequi labore dolore consequatur fugiat, at
      reprehenderit porro quae dicta. Ipsa incidunt, officiis nemo odit placeat
      quisquam natus nesciunt ex earum totam vitae iure minima error nobis eaque
      doloremque libero laudantium recusandae adipisci vero obcaecati molestias
      ut? Ex delectus obcaecati doloremque accusantium reiciendis aspernatur
      neque, saepe eaque sit esse, voluptate a ullam blanditiis optio
      reprehenderit voluptatem voluptas assumenda nihil in unde similique
      tenetur qui. Et neque corrupti blanditiis architecto hic, dolore nesciunt
      reprehenderit beatae illum ipsum tempore quisquam quis qui! Eos quaerat
      odit laboriosam. Sapiente, reiciendis sequi expedita, distinctio, non
      similique reprehenderit quae veritatis maiores magni enim quo? Reiciendis
      dolor ad adipisci commodi quasi alias officiis iste nihil aliquid nam,
      vero officia cumque. Dolore aut laudantium velit veritatis expedita.
      Cumque nemo debitis accusantium consequuntur expedita ipsam blanditiis
      cupiditate reprehenderit enim! Aspernatur omnis magnam natus earum
      pariatur doloremque, incidunt blanditiis nostrum sapiente minima
      laudantium labore tempora modi quam, consequatur impedit officiis adipisci
      temporibus laborum mollitia totam vel! Dignissimos, minus eveniet quisquam
      reprehenderit exercitationem illo quasi, fuga doloribus deserunt porro eum
      distinctio voluptatibus aperiam nostrum? Quibusdam dignissimos dolorem
      reiciendis, amet vitae suscipit voluptates eos est deserunt assumenda eum.
    </p>
  </body>
</html>
